body {
  text-align: center;

  color: #fff;
  background-color: #000;

  font-family: Arial;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

select, input {
  display: block;

  margin: 0 auto;

  color: #fff;
  border: none;
  outline: none;
  background-color: #000;

  -webkit-appearance: none;
}

h1 {
  margin-top: 40%;
  margin-bottom: 60px;

  letter-spacing: 2px;
  text-transform: uppercase;

  font-size: 39px;
  font-weight: bold;
  font-style: italic;
}

select {
  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 24px;
  font-weight: bold;
}

input {
  overflow: hidden;

  width: 70vw;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 8px 5px 0 10px;

  text-align: center; white-space: nowrap;
  letter-spacing: 2px;
  text-overflow: ellipsis;

  color: rgba(240, 29, 29, .9);
  border: 1px solid #8c8c8c;
  text-shadow: 0 0 12px rgba(240, 29, 29, 0.7);

  font-family: Digital-7 Italic;
  font-size: 64px;
  font-style: italic;
}
